SECRET_KEY = "django-insecure-47f(ub2qs-n!b@&&)tis&l$&qf1%^@&jy-95jx!bahqrm^19m2"
SOCIAL_AUTH_GLOBUS_KEY = "{{ settings.globus.client_id }}"
SOCIAL_AUTH_GLOBUS_SECRET = "{{ settings.globus.secret_key }}"

COLLECTIONS = [
    {% for collection in settings.globus.collections %}
    {
        "id": "{{ collection.id }}",
        "name": "{{ collection.name }}",
        "description": "{{ collection.description }}",
    },
    {% endfor %}
]