{% load static index_template is_active %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# CSS files #}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    {# Django CSRF Protection #}
    {% csrf_token %}

    {% block search_head %}{% endblock %}

    <title>{%block title%}{%endblock%}</title>

  </head>
  <body>
    {% block base_nav %}
    {% index_template 'globus-portal-framework/v2/components/base-nav.html' as base_nav %}
    {% include base_nav %}
    {% endblock %}

    {% block breadcrumbs %}
    <div class="nav-container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="mailto:[[settings.administrator.email]]" style = "color: black">Contact</a></li>

          {%if globus_portal_framework.auth_enabled and request.user.is_authenticated %}
          <li class="breadcrumb-item"><a href="{% url 'logout' %}?next=/" style = "color:black">Logout</a></li>
          <li class="breadcrumb-item"><a class="nav-link" href="/" style = "color:black">{{request.user.username }}</a></li>
          {% elif globus_portal_framework.auth_enabled %}
          <li class="breadcrumb-item"><a href="{% url 'social:begin' 'globus' %}" style = "color:black">
            <img src="{% static 'images/globus.png' %}" height="32px" width="32px">
                   Login
                </a>
              </li>
              {% endif %}

        </ol>
      </nav>
    </div>
    {% endblock %}

    <!-- Page body -->
    {%block body%}
    {%endblock%}

    {% block footer %}

    {% index_template 'globus-portal-framework/v2/components/footer.html' as footer %}
    {% include footer %}
    {% endblock %}

    {# Custom Fonts #}
    <script type="text/javascript" src="{% static 'js/fontawesome-all.min.js' %}"></script>

    {# Javascript #}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>