<div class="customization">
    <h3>[[settings.customization.section]]</h3>

    <div class="row">
        <div class="col-md-4">
          <img src="" alt="Headshot" class="headshot" height = "300px">
          <p> [[settings.customization.teammates[0].position]] </p>
          <p> [[settings.customization.teammates[0].name]]  </p>
          <p> [[settings.customization.teammates[0].email]]  </p>
      
        </div>

        <div class="col-md-4">
            <img src="" alt="Headshot" class="headshot" height = "300px">
            <p> [[settings.customization.teammates[1].position]] </p>
            <p> [[settings.customization.teammates[1].name]]  </p>
            <p> [[settings.customization.teammates[1].email]]  </p>
        
        </div>
        <div class="col-md-4">
            <img src="" alt="Headshot" class="headshot" height = "300px">
            <p> [[settings.customization.teammates[2].position]] </p>
            <p> [[settings.customization.teammates[2].name]]  </p>
            <p> [[settings.customization.teammates[2].email]]  </p>
        
         </div>


      </div>
</div>