<div class="getting-started">
    <h3>Instructions</h3>
    

    <div class="row">
        <div class="col-md-6">
            <img src = "/static/transferpage.png" alt = "Transfer Page Image" class="transfer-page">
            
        </div>

        <div class="col-md-6">
                    
            <p> Globus Transfer Hub assist configure high-speed data transfers</p>
            <p> Quick Start:</p>
            <ul style="list-style-type: none">
                <li>1. Log in with your organizational credentials or GlobusID. If you don't have an account yet, easily sign up and create a new Globus account </li>
                <li>2. Select a source node </li>
                <li>3. Browse through available datasets at the selected source node </li>
                <li>4. Choose destination node </li>
                <li>5. Confirm and initiate transfer</li>
        
            </ul>

        </div>
      
      </div>

</div>