<div class="getting-started">
    <div class="graybox">
        <h3>Instructions</h3>
        
        <div class="datasets">
            <img src = "static/Transfer_Page.png" class="transfer-demo">
            <div class="description-text" width="50%">
                <p style="
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                color: #000000;"> Globus Transfer Hub assist configure high-speed data transfers</p>
                <p style="
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #62CAF5;"> Quick Start:</p>
                <ul style="list-style-type: none; 
                font-size: 20px;
                line-height: 36px;

                color: #000000;
                ">
                    <li>1. Log in with your organizational credentials or GlobusID. If you don't have an account yet, sign up and create a new Globus account. </li>
                    <li>2. Select a source node. </li>
                    <li>3. Browse through available datasets at the selected source node. </li>
                    <li>4. Choose destination node. </li>
                    <li>5. Confirm transfer queue and initiate transfer.</li>
                </ul>
            </div>
        </div>

    </div>
</div>