<div class="getting-started">
    <div class="graybox">
        <h3>Instructions</h3>
        
        <div class="getting-started-block">
            <img src="static/Transfer_Page.png" class="transfer-demo">
            <div class="description-text" width="50%">
                <p style="
                font-size: 24px;
                line-height: 29px;"> Globus Transfer Hub assist configure high-speed data transfers</p>
                <p style="
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #0088B5"> Quick Start:</p>
                <ul style="list-style-type: none; 
                font-size: 20px;
                line-height: 36px;
                ">
                    <li>1. <b>Log in: </b>Use your organizational credentials or GlobusID. If needed, create a Globus account.</li>
                    <li>2. <b>Select Source: </b>Choose a dataset collection and proceed to Globus site. </li>
                    <li>3. <b>Browse Datasets: </b>Explore available datasets at the selected source.</li>
                    <li>4. <b>Confirm and Transfer: </b>Review the transfer queue and start the transfer.</li>
                </ul>
            </div>
        </div>

    </div>
</div>