{% extends "globus-portal-framework/v2/base.html" %} 
{% load static index_template is_active %}

{% block headextras %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
{% endblock %} 

{% block breadcrumb_items %}
<li class="breadcrumb-item">
  <a class="h5" href="{% url 'landing-page' %}">{{globus_portal_framework.project_title}}</a>
</li>
<li class="breadcrumb-item active"><a class="h5">About</a></li>
{% endblock %} 

{% block body %}
<div class="row">
  <div class="col">
    <h2 class="text-center mt-3 mb-5">{{project_title}}</h2>
  </div>
</div>

<div class="row mb-5">
  <div class="col"></div>
  <div class="col-10">
    <div>
      <p class="lead font-weight-bolder">
        {% block getting_started %}
        {% index_template 'globus-portal-framework/v2/components/getting_started_block.html' as getting_started %}
        {% include getting_started %}
        {% endblock %}
      </p>
    </div>
    <div>
      <p class="lead font-weight-bolder">
        {% block documentation %}
        {% index_template 'globus-portal-framework/v2/components/documentation_block.html' as documentation %}
        {% include documentation %}
        {% endblock %}
      </p>
    </div>
  </div>
  <div class="col"></div>
</div>
{% endblock %}