{% extends "globus-portal-framework/v2/base.html" %} 
{% load static index_template is_active %}

{% block headextras %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
{% endblock %} 

{% block breadcrumb_items %}

{% endblock %} 

{% block body %}

  <div class="section">
    <div class="subsection">
      <img src=[[settings.secondary_logo]] alt="Company Logo" width="35%">

      {%if globus_portal_framework.auth_enabled and request.user.is_authenticated %}
      <div class="landing-text">
      <h3>Welcome Back to [[settings.project.name]]</h3>
      <p class="description">[[settings.project.description]]</p>
      <p class="description" style="font-style: italic;">[[settings.project.sub_description]]</p>
      </div>
      
      <button class="login-button">
        <a href="{% url 'transfer-page' %}" style = "color:black">Start Transfer</a>
      </button>

      {% elif globus_portal_framework.auth_enabled %}
      <div class="landing-text">
      <h3>Welcome to [[settings.project.name]]</h3>
      <p class="description">[[settings.project.description]]</p>
      <p class="description" style="font-style: italic;">[[settings.project.sub_description]]</p>
      </div>
      
      <button class="login-button">
          <a href="{% url 'social:begin' 'globus' %}" style = "color:black">Login</a>
      </button>

      {% endif %}
    </div>

    <img src = "static/illustration.svg" alt = "Data Transfer Hub Illustration" class = "main-illustration">
  </div>

    <div class="section">
        {% block documentation %}
        {% index_template 'globus-portal-framework/v2/components/documentation_block.html' as documentation %}
        {% include documentation %}
        {% endblock %}
    </div>
    <div class="section">
        {% block getting_started %}
        {% index_template 'globus-portal-framework/v2/components/getting_started_block.html' as getting_started %}
        {% include getting_started %}
        {% endblock %}
    </div>
    <div class="section">
        {% block customization %}
        {% index_template 'globus-portal-framework/v2/components/customization.html' as customization %}
        {% include customization %}
        {% endblock %}
    </div>



{% endblock %}