body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    background-color: [[settings.colors.primary]];
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: [[settings.colors.primary]];
    height: 170px;
    min-width: 100%;

    padding: 8px 64px;
    gap: 10px;
}

.header-logo {
    margin-top:auto;
    margin-bottom: auto;
    height: 80px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 64px;
    gap: 48px;
    border-radius: 0px;
    background-color: [[settings.colors.header]];
}


.breadcrumb-item {
    font-weight: 400;
    font-size: 20px;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: [[settings.colors.header]]; 
}


.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px 160px;
    gap: 120px;

    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
}


.subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
    gap: 36px;
}

.landing-text {
    text-align: left;
    color: #3B4147;
    width: 90%;
}

.landing-text h3 {
    font-size: 25px;
    line-height: 30px;
}

.landing-text description {
    font-size: 20px;
}

.login-button {
    background-color: [[settings.colors.secondary]];
    color: #000000;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s;  

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 88px;
    gap: 10px;

    min-width: 229px;
    min-height: 55px;
}


.main-illustration{
    width: 35vw;
    height: auto;
}


.graybox {
    width: 80vw;

    background-color: [[settings.colors.primary]];
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 10px;
}

.graybox h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color:[[settings.colors.header]];
}

.white {
    background-color: #FFFFFF;
    padding-bottom: 100px;
}

.datasets {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    min-width: 100%; /* Ensure it spans the full width */
    gap: 36px;
}

.dataset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0px;
    gap: 32px; /* Space between items inside each .dataset */
    flex: 1;
}


.description-text {
    text-align: left;
    color: #3B4147;
    text-align: left;
}

.description-text h2{
    font-weight: 600;
    font-size: 18px;
}

.description-text p {
    font-weight: 500;
    font-size: 16px;
}


.transfer-demo {
    box-sizing: border-box;
    border-radius: 40px;
    border: 5px solid [[settings.colors.secondary]];

    width: 335px;
    height: 399.11px;
}

.team-mem-image-placeholder {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 3px solid #62CAF5;
    border-radius: 10px;
}

.footer {
    width: 100%;
    min-height: 200px;
    background-color: [[settings.colors.primary]];

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 32px 64px;
    gap: 24px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
}


.mySelect {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}