{% extends "globus-portal-framework/v2/base.html" %}

{% load static %}
{% load index_template %}

{% block title %}Transfer{% endblock %}

{% block headextras %}
<link rel="stylesheet" type="text/css" href='/static/js/transfer/build/globus.css'></script>
{% endblock headextras %}

{%block body%}
    <div class="section">
        <h4 style="text-align: center;">Globus Data Transfer Hub</h4>
    </div>
    <div class="row container-fluid">
        <div class="col-10 mb-4" style="margin-left: auto; margin-right: auto;">
                <h5>Select Source Node</h5>
                <select id="mySelect" class="form-control">

                    {% if collection_id %}
                        <option value="{{collection_id}}"> {{collection_name}} </option>

                    {%elif collection_id is null %}
                        <option value="" disabled selected>Choose a collection</option>
                        {% for collection in collections %}
                            <option value= "{{collection.id}}">{{collection.name}}</option>
                        {% empty %}
                        <div class="alert alert-primary" role="alert">
                            No collections configured for this portal! Check settings to add them.
                        </div>
                        {% endfor %}

                    {% endif %}
                </select>

                <!-- Add a button for redirection -->
                <button id="redirectButton" class="btn btn-primary mt-3" disabled>Go to Collection</button>
        </div>
    </div>
    </div> 


    <script>
        const mySelect = document.getElementById("mySelect");
        const redirectButton = document.getElementById("redirectButton");
    
        // Enable the button only when a valid collection is selected
        mySelect.onchange = (event) => {
            const value = event.target.value;
            redirectButton.disabled = !value; 
        };
    
        redirectButton.onclick = () => {
            const selectedValue = mySelect.value;
            if (selectedValue) {
                const redirectTarget = `https://app.globus.org/file-manager?origin_id=${selectedValue}&origin_path=%2F&two_pane=true`;
                window.location.href = redirectTarget;
            }
        };
    </script>





{% endblock %}